Обнуление*/ * {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	border: none;
	padding: 0;
	background: none;
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

html {
	min-width: 320px;
}

body {
	background: url("../img/main-backgroung.svg") center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	min-height: 600px;
	position: relative;
	overflow-x: hidden;
}

.alphaasistant-logo {
	width: 28vw;
	margin-left: 2vw;
}

.menu {
	padding: .5vw 3vw;
	margin-right: 2vw;
	display: none;
	border-radius: 60px;
	background-image: linear-gradient(to right, #01818E, #C7FFFF);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.large-navbar {
	margin-top: -3vw;

}

.navbar_button {
	display: none;
}

.main-header ul li a {
	color: #fff;
	font-size: 2vw;
}

.menu ul li {
	position: relative;
}

.menu ul li a::after {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 15%;
	display: block;
	width: 50%;
	background-color: #1DCFD1;
	height: 2.5px;
	transform: scale(0);
	transition: all .6s;
}

.menu ul li a:hover::after {
	transform: scale(1);
}

#images_page::after {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 15%;
	display: block;
	width: 50%;
	background-color: #4FA1AC;
	height: 2.5px;
	transform: scale(0);
	transition: all .6s;
}

#images_page:hover::after {
	transform: scale(1);
}

#programm_page::after {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 32%;
	display: block;
	width: 20%;
	background-color: #1DCFD1;
	height: 3px;
	transform: scale(1);
	transition: all .6s;
}

.hide {
	display: none;
}

.main {
	position: relative;
}

.wrapper-main-text {
	position: absolute;
	left: 3vw;
	top: auto;
	bottom: auto;
	width: 97vw;
}

.main-text {
	background: url("../img/background_ellipse.svg") no-repeat;
	
	padding-top: 1.7vw;
	padding-bottom: 2vw;
}

.main-text h3 {
	font-weight: 510;
	font-size: 1.9vw;
	color: #043246;
	padding-left: 7vw;
}

.main-text p {
	font-family: 'Sansita', sans-serif;
	font-size: 1.7vw;
	color: #314A55;
	max-width: 40vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

.main-text h2 {
	font-size: 2vw;
	color: #000000;
	padding-left: 6vw;
}

.main-text a {
	padding-left: 20%;
}

.main-text a img {
	width: 17vw;
}

.main-image {
	max-width: 50%;
	position: absolute;
	right: -10%;
}

.main-image img {
	width: 60%;
}

.navigation {
	position: absolute;
	bottom: 1vw;
	left: 2vw;
}

.dot {
	height: 12px;
	width: 12px;
	background-color: #C4C4C4;
	border-radius: 50%;
	display: inline-block;
}

#dot-programm {
	background-color: #90C4E3;
}

.down_button {
	text-align:center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1vw;
}

.down_button a img {
	padding: 1vw 5vw;
	background: linear-gradient(90deg, #01818E 0%, #C6FEFE 103.86%);
	border-radius: 223px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 13vw;
}

.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* RESPPONSIBILITY   */
@media screen and (max-width: 900px) {

	/* HEADER */
	.large-navbar {
		display: none;
	}

	.medium-navbar {
		display: block;
		width: 60%;
	}

	.menu {
		padding: 0;
		margin: 0;
	}

	.main-header {
		background-color: #056070;
	}

	.alphaasistant-logo {
		display: none;
	}

	.alphaasistant-logo-medium {
		display: block;
		width: 27.3vw;
		margin-left: 2vw;
	}

	img.alphaasistant-logo-medium {
		margin-left: 40%;
	}

	a.nav-link {
		display: block;
		padding: 0 0;
	}

	a#programm_page.nav-link {
		padding: 0 0;
	}

	a#images_page.nav-link {
		padding: 0 0 0 0;
	}

	a#about_page.nav-link {
		padding: 0 0 0 7px;
	}

	.menu {
		border-radius: 0;
		background-image: none;
		box-shadow: none;
		position: absolute;
		right: 0;
		top: 0;
	}

	.menu ul li a:hover::after {
		transform: scale(0);
	}

	#images_page:hover::after {
		transform: scale(0);
	}

	#programm_page::after {
		transform: scale(0);
	}

	.menu ul li a img {
		background-color: #05697A;
		width: 12vw;
		height: 12vw;
		padding: 4vw;
	}

	nav.navbar {
		padding: 0;
		margin: 0;
	}

	/* MAIN */
	.wrapper-main-text {
		position: relative;
		width: 97vw;
		top: 13vw;
	}

	.main {
		width: 100%;
	}

	.main-text {
		background: rgba(0, 99, 118, 0.39);
		border-radius: 26px;
		left: 3vw;
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.main-text h3 {
		
		padding: 3vw 0 0 0;
		font-weight: 500;
		font-size: 3vw;
		text-align: center;
		color: #ffffff;
	}

	.main-text p {
		padding: 0;
		font-size: 2.5vw;
		line-height: 1.3;
		max-width: 45vw;
		text-align: center;
		color: #ffffff;
		padding-left: 2vw;
		padding-right: 0;
	}

	.main-text h2 {
		position: absolute;
		top: 50vw;
		left: 40%;
		width: 100%;
		font-size: 3.3vw;
		color: #fff;
		padding-left: 6vw;
	}

	.main-text a {
		padding-left: 20%;
	}

	.main-text a img {
		position: absolute;
		top: 60vw;
		left: 63%;
		width: 30vw;
	}

	.main-image {
		max-width: 40%;
		right: 0;
		top: 15vw;
	}

	.main-image img {
		width: 90%;
	}

	.navigation {
		display: none;
	}

	.down_button a img {
		padding: 2vw 9vw;
		width: 23vw;
	}

}

@media screen and (max-width: 600px) {
	.medium-navbar {
		display: none;
	}

	.mobile-main-image {
		display: block;
	}

	button::-moz-focus-inner {
		border: 0;
		outline: none;
	}

	.dropbtn {
		display: block;
		position: absolute;
		right: 5vw;
		width: 10vw;
	}

	.dropbtn img {
		width: 10vw;
		padding: 0;
		margin: 0;
		outline: none;
		border: none;
	}

	.dropdown-content {
		display: none;
		z-index: 1;
	}

	ul.menu {
		padding: 0;
	}

	.menu {
		display: block;
		position: absolute;
		top: 12.5vw;
		background: #056070;
		width: 100%;
		margin: 0;
	}

	.menu li {
		border-top: 1px solid #25879B;
	}

	.menu li:first-child {
		border-top: 2px solid #25879B;
	}

	.main-header ul li a {
		font-size: 4.5vw;
	}

	.menu li a {
		display: block;
		padding: 2vw 5vw;
	}

	/* MAIN */

	.main-text {
		display: none;
	}

	.main-image {
		display: none;
	}

	.mobile-main {
		display: block;
		position: relative;
	}

	.mobile-main .mobile-about-programm-background {
		position: absolute;
		width: 95vw;
		left: 2.5vw;
	}

	.mobile-main-text {
		padding-top: 25vw;
	}

	.mobile-main h3 {
		position: absolute;
		left: 7vw;
		top: 25vw;
		width: 40vw;
		font-family: 'Sansita', sans-serif;
		font-size: 6vw;
		font-weight: bold;
	}

	.mobile-main p {
		position: absolute;
		left: 7vw;
		top: 60vw;
		font-family: 'Sansita', sans-serif;
		font-size: 4.5vw;

	}

	.mobile-main a {
		position: absolute;
		top: 110vw;
		left: 25vw;
	}

	.mobile-main-text a img {
		width: 50vw;
	}

	.mobile-main-image {
		position: absolute;
		top: 30vw;
		left: 50vw;
	}

	.mobile-main-image img {
		width: 40vw;
	}

	.show {
		display: block;
	}
}

@media screen and (max-width: 560px) {
	.down_button a img {
		padding: 2vw 12vw;
		width: 32vw;
	}
}
